body{
    background-color: #F0F0F0;
}
.whole{
    background-color: #FF7978;
    height: 550px;
    width: 1000px;
    margin: auto;
    margin-top: 2%;   
}
.bigtext{
    position: absolute;
    top: 220px;
    left: 250px;
    color: white;
    font-size: 35px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.text{
    color: #FFB9B1;
    position: absolute;
    top: 320px; 
    left: 250px;
}
.trial{
    background-color: #5C54A2;
    height: 40px;
    width: 400px;
    border-radius: 10px;
    position: absolute;
    left: 750px;
    top: 60px;
    text-align: center;
    padding-top: 15px;
}
.trialtext{
    color: white;
}
.bolder{
    font-weight: bold;
}
.reg{
    height: 400px;
    width: 400px;
    background-color: white;
    position: absolute;
    left: 750px; 
    top: 150px;
    border-radius: 10px;
}
.input{
    height:40px;
    width: 350px;
    margin-left: 15px;
    padding-left: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.claim{
    border: none;
    background-color: #37CD8A;
    color: white;
    height: 50px;
    width: 350px;
    margin-left: 25px;
    border-radius: 10px;
}
.claim:hover{
    cursor: pointer;
}
.terms{
    margin-left: 25px;
}
.tos{
    color:#E0BAB7;
}